body{
    text-align: center;
    background: gray;
    width: 500px;
    margin: auto;
}
#h1title {
    color: rgb(18, 37, 80);
    border: solid  1px;
     width: fit-content;
    margin: auto;
}
#songinput{
    border: 1px solid;
    width: fit-content;
    margin: auto;
    color: rgb(18, 37, 80);
}
#Music div{
    border: 2px solid rgba(184, 76, 130, 0.658);
    width: fit-content;
    margin: auto;
}